* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clap-container {
    margin: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#clap-circle {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(100,100,100,0.3);
    border-radius: 50%;
}

.clap-accent-paths {
    fill: #429835;
    stroke: none;
}

#clap-circle:hover {
    border: 1px solid #429835;
    animation: circlehover 2.5s infinite;
}

#clap-circle:active {
    animation: circleclick 0.4s infinite;
}

.circle-pulse-clap {
    animation: circlepulse 0.2s ease-in-out;
}

.clap-count-container {
    width: 60px;
    height: 100px;
    position: relative;
}

.clap-count-enter {
    animation: clapcountenter 0.2s ease-in forwards;
}

.clap-count-exit {
    animation: clapcountexit 0.5s ease-out forwards;
}

#clap-count {
    width: 35px;
    height: 35px;
    font-size: 12px;
    border-radius: 50%;
    color: rgb(255,255,255);
    background-color: #429835;
    position: absolute;
}

#clap-svg {
    stroke: #429835;
    fill: none;
    width: 33px;
    height: 33px;
}

@keyframes circlehover {
    0% {
        box-shadow: 0 0 0px 0px rgba(66, 152, 53, 1);
    }
    80% {
        box-shadow: 0 0 10px 10px rgba(66, 152, 53, 0);
    }
    100% {
        box-shadow: none;
    }
}

@keyframes circleclick {
    40% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(1);
    }
}


@keyframes circlepulse {
    40% {
        width: 37px;
        height: 37px;
    }
    80% {
        width: 35px;
        height: 35px;
    }
}

@keyframes clapcountenter {
    from {
        transform: translateY(10px);
        opacity: 0
    }
}

@keyframes clapcountexit {
    to {
        transform: translateY(-100px);
        opacity: 0            
    }
}
